/* home page css(App.js) */
.btn_blog {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 17px 26px;
  background-color: #d11b1b;
  color: white;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  font-size: 21px;
  font-weight: 600px;
  z-index: 1;
}

.bgimg {
  height: 100%;
  width: 100%;
  display: block;
  margin: auto;
  position: absolute;
  top:0;
  left:0;
  object-fit: cover;
}

.main_div {
  position: relative;
  max-height: 93vh;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* end */

/* headermenu page css */
.header_blogimg {
  height: 5vh;
  width: 5vh;
  display: block;
  margin: auto;
}
/* end */

